@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@import url(https://fonts.googleapis.com/css?family=Changa);

 * { margin: 0; padding : 0; }

html, body {
  /*background-color: #2F3B4B;*/
  background-color: #000000;
  background-image: url("images/bright-squares.png");
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
.header {
  height: 43px;
  width: 100%;
  background-color: #252525;
  margin-top: 0;
  position: fixed;
  padding-top: 0;
  display: inline-block;
  z-index: 1;
}

.header-title {
  color: white;
  margin: auto;
  text-align: right;
  font-size: 14px;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.nav {
  color: white;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.banner {
  width: 100%;
  min-height: 300px;
  display: block;
  margin: 0 auto;
  background-image: url("images/3px-tile.png");
  background-attachment: fixed;
  /*background-color: #EDE6DE;*/
  background-color: #ffffff;
  color: white;
  font-size: 5em;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}
.title {
  padding: 0 20px 0 20px;
  display: inline-block;
  margin-right: 0%;
  text-align: center;
  margin-top: 125px;
  font-family: 'Changa', sans-serif;
  font-weight: 600;
  /*text-shadow: 0 6px rgba(0, 0, 0, 0.19);*/
  /*background-color: #068099;*/
  background-color:rgba(0, 95, 107, 0.8);
  background-clip: padding-box;


}


.content {
  float: inherit;
  text-align: right;
  /*color: #E4DFD8;*/
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  background-color:rgba(147, 147, 147, 0.6);
  margin-top: -1em;
  background-clip: padding-box;
  padding-top: 20px;

}

h1 {
  padding-top: 20px;
  font-family: 'Droid Arabic Naskh', serif;;
  /*background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));*/
  background-clip: content-box;
  color: #00d5ed;
  font-weight: normal;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 20px 0 20px 0;
}

p {

  line-height: 1.5;
  /*padding-right: 20px;
  padding-left: 20px;*/
  font-family: 'Droid Arabic Kufi', sans-serif;
}

.disc {
  list-style-type: disc;
  list-style-position: outside;
  margin-right: 1em;
  padding-right: 20px;
  padding-left: 20px;

}
