* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*:lang(ar) {
  font-family: 'Cairo', sans-serif;
}
*:lang(en) {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background-color: #101927;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  scroll-behavior: smooth;
}

.container-xl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xl{
    max-width: 1320px;
  }
}

a {
  color: #f4a261;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
a:hover {
  color: #e9c46a;
}
header {
  height: 90px;
  background-color: #264653;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}
header .header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
header .logo img {
  border: none;
  border-radius: unset;
  box-shadow: unset;
}
nav {
  display: flex;
  align-items: center;
}
.main-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;}
.main-menu  li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90px;
}

.content {
  float: inherit;
  text-align: right;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-clip: padding-box;
  padding-top: 20px;
  padding-bottom: 50px;
}
.content:lang(en) {
  text-align: left;
}

.col-2 {
  display: flex;
  justify-content: center;
  margin: 22px 0;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col p {
  text-indent: unset;
  padding: 10px 30px;

}

.contents-list {
  color: #f4a261;
  padding: 20px 20px 20px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents-list li {
  margin-bottom: 15px;
}
h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  background-clip: content-box;
  color: #2a9d8f;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
}

.h-style {
  text-shadow: -0.0075em 0.0075em 0 #c9fdf8,
    0.005em 0.005em 0 #289487,
    0.01em 0.01em 0 #248a7e,
    0.015em 0.015em #279184,
    0.02em 0.02em 0 #238378,
    0.025em 0.025em 0 #248378,
    0.03em 0.03em 0 #1d6d64,
    0.035em 0.035em 0 #1a5f57;
}
h2 {
  margin-top: 12px;
  color: #4cb1bf;
  font-weight: normal;
  font-size: 1.5em;
}

h3 {
  color: #4cb1bf;
  font-weight: normal;
  font-size: 22px;
}

.info-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
p {
  line-height: 1.85;
  padding: 0px 5px;
  text-indent: 10px;
  font-size: 1.1em;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-right: 1em;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
}
ul :lang(en) {
  line-height: 1.5;
}
.enc-typ {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
.enc-typ li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enc-typ li img {
  margin-bottom: 15px;
}
.social h2 {
  margin-bottom: 20px;
}
.social {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
}

.social .social-icons {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .social-icons a {
  width: 64px;
}
.social .social-icons img {
  transition: all 0.3s linear;
  opacity: 0.7;
}
.social .social-icons a:hover img {
  width: 64px;
  height: 64px;
  opacity: 1;
}

footer {
  background-color: #060a0c;
  box-shadow: 0 -4px 12px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  display: flex;
  align-items: center;
}
footer a {
  color: #fff;
}
footer p {
  color: #4cb1bf;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer .footer-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer .footer-right {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-around;
}
footer .support {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .support a {
  margin: 5px;
}

.bmc {
  float: right;
}
.bmc img {
  height: 35px;
  border: none;
}

@media only screen and (max-width: 992px) {
  footer {
    height: 300px;
  }
  footer .container-xl {
    flex-direction: column;
  }
  footer .container-xl .footer-left {
    margin-bottom: 20px;
    width: unset;
  }
  footer .container-xl .footer-left .support {
    margin-top: 10px;
    justify-content: space-around;
    width: 50%;

  }
  footer .container-xl .footer-right {
    width: 90%;
  }
}